.root {
  width: 100%;
  margin-bottom: 64px;
}

.menuButton {
  margin-right: 2px;
}

.title {
  flex-grow: 1;
}

.list {
  width: 250px;
}

.fullList {
  width: auto;
}

.logout {
  width: 100%;
  justify-self: end;
}